/* General styles - put these straight into your stylesheet */

body {
  margin:10px;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  /* background-color: #ccc; */
}
button {
  height:50px;
  width: 50px;
  padding:0;
  margin:0;
  /* border: 1px 1px 1px 1px; */
  border:1px;
  border-color: red;
  border-style:solid;
  border-left:0px;
  font-size: 15px;
  /*Some unexpected thing is happeing over here that we need to fix upon*/
}

.displayText{
  /* line-height: 25px; */
  font-size: 25px;
  float: right;
}

.display {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border:1px;
  border-color: red;
  border-bottom: 0px;
  border-style: solid;
}

.top button{
  border-bottom:0px;
}
.middle button{
  border-bottom: 0px;
}
#clear{
  width:150px;
}

div button:first-child{
  border-left:1px;
  border-style: solid;
  border-color: red;
}

/* Selectors to be matched up with rulesets */
/*
.card article img
.card footer
.card header
.card */

/* Rulesets to be matched up with selectors */
